/proj.win32/Debug.win32

/proj.android
/proj.wp8-xaml
/proj.ios_mac
/proj.linux
*.sdf
*.opensdf
/LogView.IMB
/LogView.IMD
/LogView.PFI
/LogView.PO
/LogView.PR
/LogView.PS
/LogView.IAB
/LogView.IAD
*.SearchResults
/LogView.PRI
/LogView.WK3
