[submodule "CrossPlat"]
	path = CrossPlat
	url = https://git.oschina.net/unitwork/CrossPlat.git
[submodule "Encrypt"]
	path = Encrypt
	url = https://git.oschina.net/unitwork/Encrypt.git
[submodule "LogCore"]
	path = LogCore
	url = https://git.oschina.net/unitwork/LogCore.git
[submodule "NetApp"]
	path = NetApp
	url = https://git.oschina.net/unitwork/NetApp.git
[submodule "TraceWorker"]
	path = TraceWorker
	url = https://git.oschina.net/unitwork/TraceWorker.git
[submodule "cocos2d"]
	path = cocos2d
	url = https://git.oschina.net/unitwork/cocos2d.git
[submodule "boost"]
	path = boost
	url = https://git.oschina.net/unitwork/boost.git
